* {
  margin: 0;
  padding: 0; }

h3 {
  margin: 2rem;
  color: grey;
  font-family: 'Open Sans', sans-serif; }

.header__logo {
  background-color: #b5af8f; }

.imgLogo {
  display: block;
  margin: auto;
  align-content: center;
  justify-content: center;
  width: 50%; }

label {
  color: grey;
  font-family: 'Open Sans', sans-serif; }

button {
  background-color: #ead3c1;
  color: grey;
  border-color: #d9b497; }

p {
  margin-top: 3rem;
  color: grey;
  font-family: 'Open Sans', sans-serif; }

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #b5af8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .redes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

footer .redes__container .redes__logo {
  width: 30px;
  height: 30px;
  margin: 1rem;
}

footer span {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

footer .copyright {
  font-size: 0.9rem;
  opacity: 0.6;
}

.presentacion .presentacion__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.presentacion .presentacion__foto {
  display: block;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 3rem; }

.presentacion .presentacion__texto {
  text-align: justify;
  font-size: 1.25rem; }
  @media screen and (max-width: 360px) {
    .presentacion .presentacion__texto p {
      font-size: 1rem;
      margin: 2rem;
      padding: auto; } }

.propuesta .propuesta__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.propuesta .propuesta__botones {
  width: 40%;
  margin: auto;
  margin-bottom: 1.25rem;
  display: block;
  justify-content: center;
  align-items: center; }

.contacto .contacto__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.contacto .contacto__form {
  margin: 3rem; }

.xv__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.xv__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.xv__txt {
  font-family: 'Open Sans', sans-serif; }
  .xv__txt ul li {
    color: grey; }

.eventos__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.eventos__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.eventos__txt {
  font-family: 'Open Sans', sans-serif; }
  .eventos__txt ul li {
    color: grey; }

.books__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.books__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.books__txt {
  font-family: 'Open Sans', sans-serif; }
  .books__txt ul li {
    color: grey; }

.bodas__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.bodas__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.bodas__txt {
  font-family: 'Open Sans', sans-serif; }
  .bodas__txt ul li {
    color: grey; }

.body {
  background-color: #b5af8f;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .container-404 {
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 0.938rem;
    max-width: 25rem;
    margin: auto; }
    .body .container-404 h1 {
      font-family: 'Open Sans', sans-serif;
      color: grey; }
    .body .container-404 .boton {
      font-family: 'Open Sans', sans-serif;
      color: whitesmoke;
      display: inline-block;
      background: #d9b497;
      padding: 0.938rem;
      margin-top: 1rem;
      border-radius: 5px; }

.banner {
  position: relative;
  display: inline-block;
  text-align: center;
}

.banner img {
  width: 100%;
}

.banner .frase-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  font-size: 48px;
    text-decoration: solid;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .banner .frase {
        font-size: 190%; } }
    @media screen and (max-width: 360px) {
      .banner .frase {
        font-size: 100%; } }
  
.flexbox {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.flexbox .card {
  background: #e2ae99;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  border: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.flexbox .card :hover {
  -webkit-transform: translateY(-0.5%);
          transform: translateY(-0.5%);
}

.flexbox .card .card__imagen {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flexbox .card .contenido-card {
  padding: 2rem;
}

.flexbox .card .contenido-card .card__header {
  font-weight: 500;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.flexbox .card .contenido-card .boton__propuesta {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
  color: whitesmoke;
  background-color: #ca8a6e;
  font-family: "Open Sans", sans-serif;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  .flexbox {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .flexbox {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.frase {
  background-color: #e9aa77;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 2rem;
}

.frase p {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.frase .fr {
  padding-bottom: 10px;
}

.frase .autor {
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-weight: bolder;
}

 
h3{
    margin: 2rem;
    color: grey;
    font-family: 'Open Sans', sans-serif; 
}
