* {
  margin: 0;
  padding: 0; }

h3 {
  margin: 2rem;
  color: grey;
  font-family: 'Open Sans', sans-serif; }

.header__logo {
  background-color: #b5af8f; }

.imgLogo {
  display: block;
  margin: auto;
  align-content: center;
  justify-content: center;
  width: 50%; }

label {
  color: grey;
  font-family: 'Open Sans', sans-serif; }

button {
  background-color: #ead3c1;
  color: grey;
  border-color: #d9b497; }

p {
  margin-top: 3rem;
  color: grey;
  font-family: 'Open Sans', sans-serif; }

footer {
  background-color: #b5af8f;
  margin: 0;
  padding: 0;
  display: block; }
  footer p {
    padding: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left; }

.presentacion .presentacion__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.presentacion .presentacion__foto {
  display: block;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 3rem; }

.presentacion .presentacion__texto {
  text-align: justify;
  font-size: 1.25rem; }
  @media screen and (max-width: 360px) {
    .presentacion .presentacion__texto p {
      font-size: 1rem;
      margin: 2rem;
      padding: auto; } }

.propuesta .propuesta__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.propuesta .propuesta__botones {
  width: 40%;
  margin: auto;
  margin-bottom: 1.25rem;
  display: block;
  justify-content: center;
  align-items: center; }

.contacto .contacto__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.contacto .contacto__form {
  margin: 3rem; }

.xv__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.xv__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.xv__txt {
  font-family: 'Open Sans', sans-serif; }
  .xv__txt ul li {
    color: grey; }

.eventos__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.eventos__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.eventos__txt {
  font-family: 'Open Sans', sans-serif; }
  .eventos__txt ul li {
    color: grey; }

.books__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.books__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.books__txt {
  font-family: 'Open Sans', sans-serif; }
  .books__txt ul li {
    color: grey; }

.bodas__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 1.875rem; }

.bodas__imagenes {
  width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.bodas__txt {
  font-family: 'Open Sans', sans-serif; }
  .bodas__txt ul li {
    color: grey; }

.body {
  background-color: #b5af8f;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body .container-404 {
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 0.938rem;
    max-width: 25rem;
    margin: auto; }
    .body .container-404 h1 {
      font-family: 'Open Sans', sans-serif;
      color: grey; }
    .body .container-404 .boton {
      font-family: 'Open Sans', sans-serif;
      color: whitesmoke;
      display: inline-block;
      background: #d9b497;
      padding: 0.938rem;
      margin-top: 1rem;
      border-radius: 5px; }

.carousel {
  max-width: 100%; }
  .carousel .frase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-decoration: solid;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .carousel .frase {
        font-size: 190%; } }
    @media screen and (max-width: 360px) {
      .carousel .frase {
        font-size: 100%; } }
